@{
    ViewBag.Title = "Home Page";
}

<div id="user-form">

    <!-- LOGIN -->
    <div id="login-form">
        <h2>Login</h2>
        <div>
            <input id="login_form_email" type="email" placeholder="Email">
            <br>
            <input id="login_form_password" type="password" placeholder="Pasword">
            <br>
            <input onclick="loginSubmit()" type="submit" value="Submit" />

        </div>

    </div>


    <!-- REGISTER -->
    <div id="register-form">

        

    </div>


</div>